__pycache__/
.#*
.coverage
.dir-locals.el
.dmypy.json
.DS_Store
.eggs/
.env
.envrc
.flake8
.history/
.idea
.installed.cfg
.mypy_cache/
.Python
.venv
.venv/
.vscode
*.~lock.*
*.egg
*.egg-info/
*.py[cod]
*.swp
*/auto
*~
*$py.class
~*
build/
develop-eggs/
dist/
dmypy.json
downloads/
eggs/
en
env.bak/
env/
ENV/
lib/
lib64/
parts/
sdist/
share/python-wheels/
var/
venv.bak/
venv/
wheels/
